<!DOCTYPE html>

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type="text/javascript">
        function getImages(){
            const imbd1 = "tt"+"{{ m1 }}";
            const imbd2 = "tt"+"{{ m2 }}";
            // console.log("{{ m2 }}")
            // const imbd1 = "{{ m1 }}";
            // const imbd2 = "{{ m2 }}";
            console.log("passed image: "+imbd1);
            console.log("passed image1: "+imbd2);
  
            const Http = new XMLHttpRequest();
            const url='https://api.themoviedb.org/3/movie/'+imbd1+'?api_key=7426823b47a5dbc4a596b3e2647ec507&language=en-US';

            Http.open("GET", url);
            Http.send();

            const Http1 = new XMLHttpRequest();
            const url1='https://api.themoviedb.org/3/movie/'+imbd2+'?api_key=7426823b47a5dbc4a596b3e2647ec507&language=en-US';

            Http1.open("GET", url1);
            Http1.send();

            Http.onreadystatechange = (e) => {
                const response = JSON.parse(Http.responseText);
                console.log(response.poster_path);
                var posturl = 'https://image.tmdb.org/t/p/w500/'+response.poster_path;
                var img = document.getElementById('lb1');
                console.log("url("+posturl+")");
                img.style.backgroundImage = "url("+posturl+")";
            }
            Http1.onreadystatechange = (e) => {
                const response = JSON.parse(Http1.responseText);
                console.log(response.poster_path);
                var posturl = 'https://image.tmdb.org/t/p/w500/'+response.poster_path;
                var img = document.getElementById('lb2');
                console.log("url("+posturl+")");
                img.style.backgroundImage = "url("+posturl+")";
            }

        }
        function doSubmit(mov1,mov2,choice){
            document.myform.movieid1.value = mov1
            document.myform.movieid2.value = mov2
            document.myform.choice.value = choice
            document.getElementById("myform").submit();
        }
        function MovieSelect(chkMovie) {

            if (chkMovie.value == 1) {
                console.log('Image ID 1: ' + '{{ m1id }}');
                console.log('Image ID 2: ' + '{{ m2id }}');
                doSubmit('{{ m1id }}','{{ m2id }}',1);
            } else {
                console.log('Image ID 1: ' + '{{ m1id }}');
                console.log('Image ID 2: ' + '{{ m2id }}');
                doSubmit('{{ m1id }}','{{ m2id }}',-1);
            }
        }
        function openNav() {
        document.getElementById("mySidenav").style.width = "250px";
        }

        function closeNav() {
        document.getElementById("mySidenav").style.width = "0";
        }

    </script>

</head>

<body onload="getImages()">
    <div id="mySidenav" class="sidenav">
        
    <p>Welcome {{current_user.username}}</p>
 
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="#">Home</a>
        <a href="/main">Method 1</a>
        <a href="/train">Training</a>
        <a href="#">About</a>
        <a href="/logout">logout</a>
      </div>

      
    <nav id="nav" class="navbar navbar-light bg-light">
        <span style="font-size:30px;cursor:pointer;margin-right:.5em;" onclick="openNav()">&#9776; </span>
        <a class="navbar-brand" href="/">Movie Recommender</a>

        <!-- <a class="btn btn-primary" id="submit" href="/predictions">Make predictions</a> -->
        <a class="btn btn-primary" id="predict" href="/submit">Add selections to DB</a>
    </nav>
</div>
</div>
<div>

    
  </div>
    <div id="main" class="container">
        <div id ="head"class="row"><h5>Click on the movie you prefer</h5></div>

        <div id="movies" class="row">
            <div class="col"></div>
     
            <div class="col-4">
                <input type="checkbox" name='movieid1' value='1' id="movieid1" onclick="MovieSelect(this)"/><label for="movieid1" id='lb1'></label> 
            </div>
            <div class="col-4">
                <input type="checkbox" name='movieid2' value ='2' id="movieid2" onclick="MovieSelect(this)"/><label for="movieid2" id="lb2"></label> 
            </div>
           
            <div class="col"></div>
        </div>
        <div class="row"><a id="skip" class="btn btn-danger" href="/train">SKIP</a></div>
    <form name="myform" id = "myform" action="/train" method="POST">
        <input type="hidden" name="movieid1" value="" />
        <input type="hidden" name="movieid2" value="" />
        <input type="hidden" name="choice" value="" />
    </form>
</body>
